[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=auto-logout
Comment=Automatically logout idle session
Exec=/usr/local/bin/auto-logout
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
